        /* beginning of header styles - top of website */
header {
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;

  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 1;

  display: flex;
  align-items: center;
}
        /* header - logo image and title style */
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img {
  margin-right: 12px;
}

.logo span {
  color: mediumaquamarine;
}
        /* header - menu (nav) and link styles */
header nav {
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: black;
}
        /* temporary border for all divs - for visabilty */
div {
  border: 1px solid black;
}
        /* beginnging of content & column styles */
        /* content layout and flex styles */
.content {
  padding-top: 90px;
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
        /* background images and headline styles */
.image-content {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  text-align: center;

  height: 300px;

  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.lead-story .image-content {
  background-image: url("../images/img-story-main.png");
  font-size: 40px;
}

.fall-cancelled.image-content {
  background-image: url("../images/img-story-2.png")
}

.pop-culture.image-content {
  background-image: url("../images/img-story-3.png");
}

.cat-ceo.image-content {
  background-image: url("../images/img-story-1.png");
}
        /* story text style */
p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
